/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 300px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f06767;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para los detalles de los personajes */
.container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}




